@page "/"

@inject Interfaces.IToastService _toastService

<section class="rec-page rec-home-hero hero recbg-dark">
  <div class="hero-body text-light">
    <h1>Recetron</h1>
    <p>
      Because I just need to learn some Blazor :) <br/>
      Click on the buttons below :)
    </p>
  </div>
</section>

<section style="display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;">
  <button class="btn" @onclick="@(_ => ShowCustom())">Show Custom Html</button>
  <button class="btn" @onclick="@(_ => ShowSimple())">Show Simple</button>
  <button class="btn" @onclick="@(_ => ShowNormal())">Show Normal</button>
  <button class="btn" @onclick="@(_ => ShowSuccess())">Show Success</button>
  <button class="btn" @onclick="@(_ => ShowWarning())">Show Warning</button>
  <button class="btn btn-primary" @onclick="@(_ => ShowPrimary())">Show Primary</button>
  <button class="btn btn-error" @onclick="@(_ => ShowError())">Show Error</button>
</section>


@code {

  private void ShowCustom()
  {
    _toastService.ShowCustom(new Models.ToastContent("Custom content", "<span class=\"badge\">Notifications</ span >")
    {
      Duration = 6000,
      IsHtml = true
    });
    ;
  }

  private void ShowSimple()
  {
    _toastService.ShowSimple("Hey there :)", Enums.Toast.Warning);
  }

  private void ShowNormal()
  {
    _toastService.ShowNormal("This is a normal toast", "Toast with not a lot of stuff");
  }

  private void ShowPrimary()
  {
    _toastService.ShowPrimary("This is a primary toast", "Toast with not a lot of stuff");
  }

  private void ShowSuccess()
  {
    _toastService.ShowSuccess("This is a success toast", "Toast with not a lot of stuff");
  }

  private void ShowWarning()
  {
    _toastService.ShowWarning("This is a warning toast", "Toast with not a lot of stuff");
  }

  private void ShowError()
  {
    _toastService.ShowError("This is a error toast", "Toast with not a lot of stuff");
  }


}